[defaults]
roles_path = ./ansible/roles  # Définit le dossier où les rôles Ansible seront stockés.
inventory = ./inventory       # Indique l'emplacement du fichier d'inventaire Ansible.
remote_user = ubuntu          # Définit l'utilisateur par défaut pour la connexion SSH.
